<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.github.ontio.dao.dice.QuitRecordMapper">
    <resultMap id="BaseResultMap" type="com.github.ontio.model.dice.QuitRecord">
        <result column="quitTime" jdbcType="VARCHAR" property="quitTime" />
        <result column="address" jdbcType="VARCHAR" property="address" />
        <result column="amount" jdbcType="DECIMAL" property="amount" />
    </resultMap>
    <sql id="Base_Column_List">
     quitTime, address, amount
    </sql>

    <select id="selectMyQuitRecordByPage"  resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List" />
        from tbl_quit_record
        where address = #{param1,jdbcType=VARCHAR}
        order by quitTime DESC
        limit #{param2}, #{param3}
    </select>

    <insert id="insertQuitRecord" parameterType="com.github.ontio.model.dice.QuitRecord">
    insert into tbl_quit_record (address, amount)
    values (#{address,jdbcType=VARCHAR}, #{amount,jdbcType=DECIMAL})
    </insert>
</mapper>