<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.github.ontio.dao.BlkHeightMapper">
    <resultMap id="BaseResultMap" type="java.lang.Integer">
        <result column="blockheight" jdbcType="INTEGER" property="blkHeight" />
    </resultMap>

    <select id="selectDBHeight" resultType="java.lang.Integer">
        select blockheight
        from tbl_block_height
    </select>

    <update id="update" parameterType="java.lang.Integer">
        update tbl_block_height
        set blockheight = #{height}
    </update>
</mapper>