<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.github.ontio.dao.InvitorMapper">
    <resultMap id="BaseResultMap" type="com.github.ontio.model.InvitorInfo">
        <result column="address" jdbcType="VARCHAR" property="address" />
        <result column="invitor" jdbcType="VARCHAR" property="invitor" />
    </resultMap>
    <sql id="Base_Column_List">
     address, invitor
    </sql>

    <select id="selectInvitorByAddress" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List" />
        from tbl_invitor_ong
        where address = #{address, jdbcType=VARCHAR}
    </select>

    <select id="selectTotalByInvitor" resultType="INTEGER">
        select
        count(*)
        from tbl_invitor_ong
        where invitor = #{invitor, jdbcType=VARCHAR}
    </select>

    <insert id="insertInvitor" parameterType="com.github.ontio.model.InvitorInfo">
    insert into tbl_invitor_ong (address, invitor)
    values (#{address,jdbcType=VARCHAR},#{invitor,jdbcType=VARCHAR})
    </insert>
</mapper>