<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.github.ontio.dao.WinnerInfoMapper">
    <resultMap id="BaseResultMap" type="com.github.ontio.model.WinnerInfo">
        <result column="lastbuyer" jdbcType="VARCHAR" property="lastBuyer" />
        <result column="holdMost" jdbcType="VARCHAR" property="holdKeyMost" />
        <result column="mostactive" jdbcType="VARCHAR" property="mostActive" />
        <result column="round" jdbcType="INTEGER" property="round" />
    </resultMap>
    <sql id="Base_Column_List">
      lastbuyer, holdkeymost,mostActive, round
    </sql>

    <select id="selectWinnerInfoByPage" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List" />
        from tbl_winner
        order by id DESC
        limit #{param1}, #{param2}
    </select>
    <insert id="insertWinnerInfo" parameterType="com.github.ontio.model.WinnerInfo">
    insert into tbl_winner (lastbuyer, holdkeymost,mostActive, round)
    values (#{lastBuyer,jdbcType=VARCHAR},#{holdKeyMost,jdbcType=VARCHAR},#{mostActive,jdbcType=VARCHAR},, #{round,jdbcType=INTEGER})
    </insert>
</mapper>