<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.github.ontio.dao.fomo3d.ActiveInfoMapper">
    <resultMap id="BaseResultMap" type="com.github.ontio.model.fomo3d.ActivityInfo">
        <result column="isshow" jdbcType="INTEGER" property="isShow" />
        <result column="datetime" jdbcType="VARCHAR" property="dateTime" />
        <result column="activename" jdbcType="VARCHAR" property="activeName" />
        <result column="activecontent" jdbcType="VARCHAR" property="activeContent" />
    </resultMap>
    <sql id="Base_Column_List">
     isshow, datetime,activename,activecontent
    </sql>

    <select id="selectRecentActiveInfo" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List" />
        from tbl_activity_ong
        order by id desc limit 1
    </select>

    <insert id="updateIsShowById" parameterType="com.github.ontio.model.fomo3d.ActivityIsShow">
    update tbl_activity_ong set isshow = #{isShow, jdbcType=INTEGER}
    where id = #{id, jdbcType=INTEGER}
    </insert>


    <insert id="insertActivityInfo" parameterType="com.github.ontio.model.fomo3d.ActivityInfo">
    insert into tbl_activity_ong (isshow,activename,activecontent)
    values (#{isShow,jdbcType=INTEGER},#{activeName,jdbcType=VARCHAR}, #{activeContent,jdbcType=VARCHAR})
    </insert>

</mapper>